{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<p>{% trans "Enter your new password below to reset your password:" %}</p>
<form method="post" class="comment-form text-white" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary btn-filled" value="{% trans 'Set password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
