          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ERRATUM.IO DEMO</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href='{% url "index_new" %}'>Back to Main Site</a></li>
<!--              <li><a href='{% url "about" %} '>About</a></li>
                  <li><a href='{% url "contact" %}'>Contact</a></li>
-->                  
                </ul>
              </nav>
            </div>
          </div>
