{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>ERRATUM.IO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta author="D.M. Burt">

        {% include 'head_css.html' %}

        <script src="{% static "js/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
		
		{% include 'navbar_new.html' %}		
		
		<div class="main-container">
		<section class="blog-masonry bg-muted">
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<ul class="blog-filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".hierarchicaldata"><span>HIERARCHICAL DATA</span></li>
								<li data-filter=".masterdata"><span>MASTER DATA</span></li>
								<li data-filter=".print"><span>THE COST OF ERRORS</span></li>
								<li data-filter=".accuracy"><span>ACCURACY</span></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="blog-masonry-container">
						
							<div class="col-md-4 col-sm-6 blog-masonry-item hierarchicaldata">
								<div class="item-inner">
									<a href="https://en.wikipedia.org/wiki/Tree_(data_structure)" target="_blank">
										<img alt="Hierarchical data" src="{% static "img/330px-Binary_tree.svg.png" %}">
									</a>
									<div class="post-title">
										<h2>It's a hierarchy! It's a tree! This is your data in a hierarchical structure.</h2>
										<p>
											Wikipedia explains what hierarchical data is. We think they do a bang-up job explaining it, but it's fairly technical. If you really want to dive deep into the subject, this is a good place to start.</p>
										<div class="post-meta">
											<span class="sub alt-font"> </span>
											<span class="sub alt-font">WIKIPEDIA</span>
										</div>
										<a href="https://en.wikipedia.org/wiki/Tree_(data_structure)" class="link-text">Read More</a>
									</div>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 blog-masonry-item print">
								<div class="item-inner">
									<a href="https://hbr.org/2016/09/bad-data-costs-the-u-s-3-trillion-per-year" target="_blank">
										<img alt="Bad data is expensive" src="{% static "img/AdobeStock_131032788_small.png" %}">
									</a>
									<div class="post-title">
										<h2>Bad Data Costs the U.S. $3 Trillion per Year.</h2>
										<p>
											IBM estimated that the U.S. is losing about $3 <i>trillion</i>&nbsp;each year due to economic inefficiencies arising from bad data. &nbsp;Granted, that figure is from an infographic, but we believe anyone who works with data on a daily basis would agree it would be a really big number, whatever it really is. &nbsp;Check out the article from the Harvard Business Review.&nbsp;</p>
										<div class="post-meta">
											<span class="sub alt-font">THOMAS C. REDMAN</span>
											<span class="sub alt-font">HARVARD BUSINESS REVIEW</span>
										</div>
										<a href="https://hbr.org/2016/09/bad-data-costs-the-u-s-3-trillion-per-year" class="link-text" target="_blank">Read More</a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 blog-masonry-item masterdata">
								<div class="item-inner quote-post">
									<div class="post-title">
										<h1>Master Data Management?</h1>
										<div class="post-meta">
											<span class="sub alt-font">GET THE SKINNY</span>
											<span class="sub alt-font">FROM WIKIPEDIA</span>
										</div>
										<a href="https://en.wikipedia.org/wiki/Master_data_management" class="link-text" target="_blank">Read More</a>
									</div>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 blog-masonry-item masterdata">
								<div class="item-inner">
									<a href="https://msdn.microsoft.com/en-us/library/bb190163.aspx#mdm04_topic4" class="inner-link" target="_blank">
										<img alt="MS Master Data Management" src="{% static "img/AdobeStock_71313802_small.png" %}">
									</a>
									<div class="post-title">
										<h2>The What, Why, and How of Master Data Management</h2>
										<p>
											Microsoft gives a deeper explanation of what master data is, why it needs managing, and what you need to have in place (hint: people and processes) to take control of it.</p>
										<div class="post-meta">
											<span class="sub alt-font">R. Wolter and K. Haselden</span>
											<span class="sub alt-font">MICROSOFT</span>
										</div>
										<a href="https://msdn.microsoft.com/en-us/library/bb190163.aspx#mdm04_topic4" class="link-text inner-link" target="_blank">Read More</a>
									</div>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 blog-masonry-item accuracy">
								<div class="item-inner">
									<a href="#" target="_blank">
										<img alt="Good recall is important" src="{% static "img/prec_recall_small.png" %}">
									</a>
									<div class="post-title">
										<h2>So, How Accurate Are We, Anyway?</h2>
										<p>
											 Having precision and recall like this means you're going to find those errors more efficiently.&nbsp;</p>
										<div class="post-meta">
											<span class="sub alt-font"> </span>
											<span class="sub alt-font">ERRATUM.IO</span>
										</div>
										<a href="https://en.wikipedia.org/wiki/Precision_and_recall" class="link-text" target="blank">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
		
				
			</section>
		</div>
		
		<div class="footer-container">
		</div>
				
<!--		<script src="https://www.youtube.com/iframe_api"></script> -->
		<script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/jquery.plugin.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/jquery.flexslider-min.js" %}"></script>
        <script src="{% static "js/smooth-scroll.min.js" %}"></script>
        <script src="{% static "js/skrollr.min.js" %}"></script>
        <script src="{% static "js/spectragram.min.js" %}"></script>
        <script src="{% static "js/scrollReveal.min.js" %}"></script>
        <script src="{% static "js/isotope.min.js" %}"></script>
        <script src="{% static "js/twitterFetcher_v10_min.js" %}"></script>
        <script src="{% static "js/lightbox.min.js" %}"></script>
        <script src="{% static "js/jquery.countdown.min.js" %}"></script>
        <script src="{% static "js/scripts.js" %}"></script>
    </body>
</html>
				