{% load static %}				
		<div class="nav-container">
						
			<nav class="top-bar overlay-bar offscreen-menu">
				<div class="container">
				
					<div class="collapse navbar-collapse nav-menu clearfix">
						<div class="col-xs-4">
							<img class="logo logo-light" alt="Logo" src="{% static "img/Erratum Questrial small.png" %}">
							<img class="logo logo-dark" alt="Logo" src="{% static "img/Erratum Questrial small reverse.png" %}">
						</div>
						
						<div class="col-xs-2 text-right pull-right">
<!-- 							<div>
								<ul class="navbar-nav mr-auto">
									<li class="nav-item"><a href="{% url 'auth_login' %}">| Login |</a></li>
									<li class="nav-item"><a href="{% url 'registration_register' %}">| Register |</a></li>
								</ul>
							</div> -->

							<div class="offscreen-toggle">
								<i class="icon icon_menu text-white"></i>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<hr class="no-margin">
						</div>
					</div>
					
				</div>
				
				<div class="offscreen-container">
					<img alt="logo" class="logo logo-wide" src="{% static "img/Erratum Questrial small reverse.png" %}">
					<ul class="menu">
						<li><a href="{% url 'index' %}" target="_self">Home</a></li>
						<li><a href="{% url 'about' %}" target="_self">About US</a></li>
						<li><a href="{% url 'demo' %}" target="_self">TRY THE DEMO</a></li>
						<li><a href="https://datascience.berkeley.edu/" target="_blank">DATA SCIENCE @ BERKELEY</a></li>
					</ul>	
					<ul class="social-icons">
						<li>
							<a href="#">
								<i class="icon social_twitter"></i>
							</a>
						</li>
				
						<li>
							<a href="#">
								<i class="icon social_facebook"></i>
							</a>
						</li>
				
						<li>
							<a href="#">
								<i class="icon social_instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</nav>		
		</div>
