{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
        <link rel="stylesheet" href="{% static 'css/dq.css' %}">
    </head>

    <body>
       <h1>TESTING CSS AND BOOTSTRAP</h1>
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "dq" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>

            <p>
                {{ form.file.errors }}
                {{ form.file }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
